<!DOCTYPE html>
<html>
<head>
  <title>Qcproto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">

  		<a href=""><%= image_tag("qcproto-ninja-logo-01.png", :alt => "quartz composer prototyping ninja") %></a>

  		<ul class="nav">
  			<li><%= link_to "Tutorials", tutorials_path %></li>
  			<li><%= link_to "Blog", posts_path %></li>
  			<li><%= link_to "Create Post", new_post_path %></li>
  		</ul>

  </div><!-- #navbar-inner -->
</div><!-- #navbar -->


	<div class="container">

		<%= yield %>

	</div><!-- #container -->

</body>
</html>
